<article class="page-container">
   <header>
        <div class="article-header-grid">
            <div class="header-text">
                <h2>Courses yeah</h2>           
            </div>
            <div class="admin-button-wrapper">
                <a href="index.html#defaultpage" class="action-button" tabindex="0" role="button">Back to default page</a>
            </div>
        </div>
    </header>

    
    <section class="products">
        <div class="product-card">
            <div class="product-image">
               <img src="../imgs/course-01.jpg">
            </div>
            <div class="product-info">
              <h5>Lorum ipsum</h5>
              <h6>solar dolar</h6>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
              <img src="../imgs/course-01.jpg">
            </div>
            <div class="product-info">
              <h5>Lorum ipsum</h5>
              <h6>solar dolar</h6>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
               <img src="../imgs/course-01.jpg">
            </div>
            <div class="product-info">
              <h5>Lorum ipsum</h5>
              <h6>solar dolar</h6>
            </div>
        </div>
        
    </section>
    
</article>