<article class="page-container">
   <header>
        <div class="article-header-grid">
            <div class="header-text">
                <h2>Courses yeah</h2>           
            </div>
            <div class="admin-button-wrapper">
                <a href="index.html#defaultpage" class="action-button" tabindex="0" role="button">Back to default page</a>
            </div>
        </div>
    </header>

    
    <section class="transactions">
        <div class="content">
            <h3>BOOM</h3>
        </div>
    </section>
    
</article>